@import url('https://googleapis.com');

* {
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(24, 24, 24);
}

.head_flex {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 5px;
}

.head_flex_left {
    margin-left: 20px;
    margin-right: auto;
}

.head_flex_right {
    display: flex;
    gap: 5px;
    margin-right: 80px;
}

.head_flex_right a {
    padding: 10px 40px;
    text-decoration: none;
    color: white;
}

.head_page_selected {
    background-color: rgb(64, 64, 64);
    border-radius: 20px;
}